* {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}
.container{
    background-color: fuchsia;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 80px;
    padding: 0.5;
}
.container div {
    background-color: gold;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    /* padding: 1rem; */
}
.container1{
    /* height: 20rem; */
    background-color: greenyellow;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px 10px;
    padding: 0.5rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    align-items: center;
}
.container1 div{
    height: 5rem;
    width: 5rem;
    background-color: tomato;
}